name: Flutter CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: dorneles76/meuapp-web:latest  # Seu usuário Docker Hub

    steps:
    # 1️⃣ Checkout do código
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2️⃣ Setup Flutter
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.35.7'

    # 3️⃣ Install dependencies
