name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout do código
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2️⃣ Setup Flutter
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.35.7'

    # 3️⃣ Install dependencies
    - name: Flutter Pub Get
      run: flutter pub get

    # 4️⃣ Run analyze
    - name: Flutter Analyze
      run: flutter analyze

    # 5️⃣ Run tests
    - name: Run Tests
      run: flutter test --coverage

    # 6️⃣ Build Flutter Web
    - name: Build Flutter Web
      run: flutter build web --release

    # 7️⃣ Build Flutter Android APK
    - name: Build Flutter APK
      run: flutter build apk --release

    # 8️⃣ Upload APK como artifact
    - name: Upload APK Artifact
      uses: actions/upload-artifact@v3
      with:
        name: app-release.apk
        path: build/app/outputs/flutter-apk/app-release.apk
